@use 'styles/base/abstracts.scss' as *;

body {
    width: 220px;
    // height: 100px;
    margin: 100px auto;
    font-size: 1.8rem;
  }

.calculator-grid {
   padding: 20px;
   border-radius: 5px;
   background-color: black;
  }

.input {
    height: 60px;
    padding-right: 15px;
    padding-top: $padding;
    text-align: right;
    margin-right: 6px;
    color:$color;
    // font-size: 2.5rem;
  }
  
#clear{
    border-radius: $border-radius;
}

.number > .operation{
    background-color: orange;
    border-width: 0;
    width: 30px;
}

.number button {
    border-radius: $border-radius;
    text-align: $text-align;
    background-color: $background-color;
    color: $color;
    padding: $padding;
    margin: $margin;
    font-weight: $font-weight;
    border: $border;
    cursor: $cursor;

}

.extra button{
        border-radius: $border-radius;
        text-align: $text-align;
        background-color: $background-color;
        color: $color;
        padding: $padding;
        margin: $margin;
        font-weight: $font-weight;
        border: $border;
        cursor: $cursor;
    
}

#per{
    text-align: $text-align;
    width:31px;
    height:40px;
}

.number > #zero {
  height: 40px;
  width: 78px;
  border-radius: 20px;
  text-align:left;
  border: $border;
}

.operations{
    font-weight: $font-weight;
}

// @media only screen and (min-width: 1044px) {
//  .calculator-grid{
//     width:100px;
//     }
//   }