body {
  width: 220px;
  margin: 100px auto;
  font-size: 1.8rem;
}

.calculator-grid {
  padding: 20px;
  border-radius: 5px;
  background-color: black;
}

.input {
  height: 60px;
  padding-right: 15px;
  padding-top: 10px;
  text-align: right;
  margin-right: 6px;
  color: white;
}

#clear {
  border-radius: 50%;
}

.number > .operation {
  background-color: orange;
  border: 2px solid orange;
  width: 30px;
}

.number button {
  border-radius: 50%;
  text-align: center;
  background-color: grey;
  color: white;
  padding: 10px;
  margin: 12px 6px 1px 0;
  font-weight: bold;
  border: 2px solid gray;
}

.extra button {
  border-radius: 50%;
  text-align: center;
  background-color: grey;
  color: white;
  padding: 10px;
  margin: 12px 6px 1px 0;
  font-weight: bold;
  border: 2px solid gray;
}

#per {
  text-align: center;
  width: 31px;
  height: 40px;
}

.number > #zero {
  height: 40px;
  width: 78px;
  border-radius: 20px;
  text-align: left;
  border: 2px solid gray;
}

.operations {
  font-weight: bold;
}