@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


$border-radius: 50%;
$text-align: center;
$background-color: grey;
$color: white;
$padding: 10px;
$margin: 12px 6px 1px 0;
$font-weight: bold;
$border: 2px solid gray;
$cursor: pointer;
$border-width: 0;
